body {
  margin-top: 0px;
  font-family: copperplate;
}

.flashy {
  color: red;
  font-style: italic;
}

.best {
  color: green;
  font-style: normal;
}

.column {
   float: left;
   width: 99%;
   max-height: 160px;
   min-height: 160px;
   list-style-type: none;
   text-align: center;
   border: dotted;
   border-color: blue;
   columns: 3;
 }


.header {
  text-align: center;
  width: 100%;
  padding-top: 100px;
  position: fixed;
  background: white;
}

h1 {
  font-size: 34px;
}

.body {
  padding-top: 250px;
  font-size: 20px;
}

.body p {
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

div.sidebar {
  float: right;
  text-align: center;
  border: solid 2px blue;
  width: 100%;
  position: fixed;
  background-image: url(http://mlb.mlb.com/documents/8/0/4/111192804/mlb_logo_prod3_1_fqk7toel.svg);
  background-size: ;
  padding-right: 20px;
  padding-top: 0px;
  color: red;
}

.sidebar a{
  color: black;
}

p.sidebar {
  padding-right: 20px;
}

.sidebar ul {
  columns: 3;
  list-style-type: none;
  text-align: center;
  padding-right: 20px;
  padding-top: 30px;
  margin-bottom: 0px;
}

span {
  font-style: italic;
}

#scary {
  height: 100px;
  width: 100px;
}

 .column li  {
   height: 50px;
 }

.column img {
  height: 50px;
  width: 50px;
}

.links {
  text-align: center;
  margin: auto;
  width: 50%;
}

.links img {
  height: 100px;
  width: 100px;
}
