.flashy {
  color: red;
  font-style: italic;
}

.best {
  color: green;
  font-style: normal;
}

.column {
   float: left;
   width: 32%;
   max-height: 160px;
   min-height: 160px;
   list-style-type: none;
   text-align: center;
   border: dotted;
   border-color: blue;
 }


.header {
  text-align: center;
  width: auto;
}



span {
  font-style: italic;
}

#scary {
  height: 100px;
  width: 100px;
}

 #homepage {
   height: 50px;
 }

img.homepage {
  height: 50px;
  width: 50px;
}
